HALIMUN_AES_KEY=
HALIMUN_HMAC_KEY=
HALIMUN_XOR_KEY=172
HALIMUN_BASE32_ALPHABET=ABCDEFGHIJKLMNOPQRSTUVWXYZ234567
HALIMUN_PROXY_URL=http://localhost:80/proxy/1

# Optional Frontend SDK Variables
# REACT_APP_HALIMUN_AES_KEY=
# NEXT_PUBLIC_HALIMUN_AES_KEY=
